# Ignore build artifacts
build/
dist/

# Ignore dependencies
node_modules/
vendor/

# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore operating system files
.DS_Store
Thumbs.db

/data